:root {
  --font-color: #231f20;
  --detail-color: #f37321;
  --bg-color: #f7f7f7;
  --bg-color: rgb(239,241,243);
}

html,
body {
  height: 100%;
}

body {
  color: var(--font-color);
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: "clavo",sans-serif;
}

img {
  display: block;
  width: 100%;
}


.svg-symbols {
  display: block;
  height: 0;
  width: 0;
}

.back-link {
  color: var(--detail-color);
  width: 2em;
  display: block;
  margin: 0 auto;
  transform: rotate(-90deg);
}

.back-link__svg {
  width: 100%;
}

/*
*
* Header
* 
*/


.main-logo {
  width: 1.5em;
}

.detail {
  fill: var(--detail-color);
}

.nav {
  margin-top: 3em;
  font-family: "acumin-pro-extra-condensed",sans-serif;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav__item {
  margin: 0 .3em;
  font-size: 2em;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: .3em;
}

.nav__logo {
  flex: 0 0 100%;
  text-align: center;
  order: -1;
  margin-bottom: 1em;
}

@media (min-width: 40em) { 
  .nav__item {
    margin: 0 1em;
  }
  .nav__logo  {
    flex: auto;
    order: initial;
    flex: initial;
  }
}

.nav__link {
  text-decoration: none;
  color: inherit;
  transition: color .3s;
  &:hover {
    color: var(--detail-color);
  }
}


/*
*
* Main
* 
*/

.main {
  margin-top: 4em;
}

.container {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

.main__img {
  mix-blend-mode: multiply;
}

.main__desc {
  margin-top: 10em;
  margin-bottom: 10em;
  width: 60%;
  margin: 0 auto;
  font-size: 1.15em;
  font-weight: 300;
  line-height: 2;
}

.separator {
  width: 50px;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.3);
}

/*
*
* Contact
* 
*/
.main__contact {
  margin-top: 5em;
  text-align: center;
  line-height: 1.75;
}

.link {
  text-decoration: none;
  color: inherit;
  
  &:hover {
    color: var(--detail-color);
  }
}

.footer {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

@media (min-width: 40em) {
  .footer { 
    width: 30vw;
    margin-bottom: 5em;
  }
}

.footer__img {
  margin-top: 5em;
}
