doctype
html(lang="en")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    title= mainTitle
    link(rel="shortcut icon", href="/imgs/favicon.ico", type="image/x-icon")
    link(rel="icon", href="/imgs/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='/style.css')

  body
    block content

    script(src="https://use.typekit.net/kxv0iog.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
    block scripts
